<form action="/tweets" method="POST" class="tweet-compose">
<h2>New Tweet!</h2>
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <label>
    Content
    <textarea name="tweet[content]" placeholder="What's on your tiny mind?"></textarea>
    <strong class="chars-left">140 chars remain</strong>
  </label>
  <br>

  <label>
    Mentions
    <a class="add-mention">Add Mention</a>
    <div class="all-mentions"></div>
  </label>
  <br>

  <input type="Submit" value="Post Tweet!">
</form>
