form {
    padding: 20px;
}

label {
    display: block;
    margin: 30px 0;
    font-size: 1.2em;
}

input, textarea, select {
    display: block;
    margin-top: 2px;
    font-size: 1em;
    padding: 5px;
    width: 300px;
}

input[type=checkbox] {
    width: auto;
    margin-left: 0;
}

textarea {
    height: 100px;
    font-size: 1.2em;
}