.forms-container {
    width: 400px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 3px;
}

form {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px 50px 60px 50px;
    width: 100%;
    border-radius: 0 3px 3px 0;
}

label {
    display: block;
    margin: 20px 0;
    font-size: 1.2em;
}

input, textarea, select, a {
    display: block;
    margin-top: 2px;
    font-size: 1em;
    padding: 5px;
    width: 300px;
}

a {
    text-decoration: underline;
    color: rgb(56, 56, 178);
    cursor: pointer;
}

a.link-disabled {
    text-decoration: none;
    color: gray;
    cursor: not-allowed;
}

input[type=checkbox] {
    width: auto;
    margin-left: 0;
}

input[type=submit] {
    margin-top: 20px;
}

textarea {
    height: 100px;
    font-size: 1.2em;
}

.form-tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 1.4em;
    font-weight: 700;
    color: gray;
    background-color: rgb(240, 240, 240);
    padding: 10px;
}

.form-tabs li:hover {
    color: darkblue;
    cursor: pointer;
}

.tab-selected {
    color: black;
    text-decoration: underline;
}