.todos-container {
    width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.todos-container article {
    position: relative;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;
    padding: 0 30px 50px 30px;
    margin-bottom: 40px;
}

.todos-container h1 {
    font-size: 1.5em;
    margin: 20px 0;
}

.todos-container p {
    font-size: 1.2em;
}

.todos-container li:hover {
    cursor: pointer;
}

.todos-container p:last-of-type {
    position: absolute;
    font-size: .8em;
    bottom: 10px;
    left: 30px;
}

.complete {
    background-color: rgb(224, 243, 224);
}