.widget {
    width: 500px;
    padding: 30px;
    border-radius: 3px;
    margin: 50px;
    box-shadow: black 0px 15px 15px -10px;
}

.widget h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.widget p {
    font-size: 1.2em;
}
