.users-search {
    font-family: 'Kanit', sans-serif;
}

.users-search li::before {
    content: "🐦";
    padding-right: 15px;
    font-size: 1.3em;
}

.users-search a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
}

.users-search a:hover {
    color:rgb(195, 97, 61);
    text-decoration: underline;
}