<div id="sections-sidebar" class="sections-sidebar">
    <section class="dropdown">
        <header>San Francisco</header>
        <ul>
            <li><a href="#">Students</a></li>
            <li><a href="#">Teaching Assistants</a></li>
            <li><a href="#">Instructors</a></li>
            <li><a href="#">Career Advisors</a></li>
            <li><a href="#">Cats</a></li>
        </ul>
    </section>
    <section class="dropdown">
        <header>Bootcamp Prep</header> 
        <ul>
            <li><a href="#">Students</a></li>
            <li><a href="#">Instructors</a></li>
            <li><a href="#">Cats</a></li>
        </ul>
    </section>
    <section class="dropdown">
        <header>Online</header> 
        <ul>
            <li><a href="#">Immersive</a></li>
            <li><a href="#">Bootcamp Prep</a></li>
            <li><a href="#">Cats</a></li>
        </ul>
    </section>
    <section class="dropdown">
        <header>Sales</header> 
        <ul>
            <li><a href="#">Associates</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Cats</a></li>
        </ul>
    </section>
    <section class="dropdown">
        <header>Alumni</header>
        <ul>
            <li><a href="#">Students</a></li>
            <li><a href="#">Companies</a></li>
            <li><a href="#">Opinions</a></li>
            <li><a href="#">Cats</a></li>
        </ul>
    </section>
</div>