/* PHASE 1: Header */

header {
    background-color: rgb(180, 1, 1);
    font-size: 1.5em;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 100vw;
    margin: auto;
}

h1 {
    display: block;
    padding: 15px 20px;
}

nav {
    background-color: inherit;
    display: flex;
    justify-content: space-between;
}

nav > ul {
    display: flex;
    margin-right: 50px;
}

nav > ul > li {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

nav > ul > li > a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px 20px;
}

#logo {
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin-left: 50px;
    font-weight: 700;
}

nav > ul > li:hover {
    background-color: rgb(136, 2, 2);
    display: block;
}