<h1>About <%= @band.name %></h1>

<table>
    <thead>
        <th>Attribute</th>
        <th>Value</th>
    </thead>
    <tbody>
        <tr>
            <td>Band Name:</td>
            <td><%= @band.name %></td>
        </tr>
    </tbody>
</table>