@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

html {
    font-family: 'Black Ops One', cursive;
}

body {
    background-image: url('../assets/cartographer.png');
}

.info {
    width: 500px;
    margin: 20px auto 0 auto;
    text-align: center;
    color: rgb(60, 60, 60);
    background-image: none;
    background-color: white;
    padding: 20px;
    border: 5px solid rgb(60, 60, 60);
    border-radius: 10px;
    box-sizing: border-box;
}

.info h1 {
    font-size: 2.8em;
}

.info p {
    font-size: 1.3em;
    margin-top: 10px;
}

.board {
    width: 520px;
    margin: 100px auto;
}

.board ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 10px solid gray;
    box-sizing: border-box;
}

.board li {
    box-sizing: border-box;
    background-image: none;
    background-color: white;
    width: 50px;
    height: 50px;
    border: 4px solid rgb(180, 180, 180);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
}

.board li:hover {
    cursor: pointer;
}

li.secret {
    border-style: outset;
}

li.secret:hover {
    background-color: rgb(226, 226, 226);
}

.secret div {
    display: none;
}

li.explored {
    border-style: inset;
    background-color: rgb(226, 226, 226);
}

li.flagged {
    border-style: outset;
    background-color: rgb(251, 251, 200);
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal {
    box-sizing: border-box;
    font-size: 2.0em;
    width: 400px;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    top: 25%;
    left: 50%;
    margin-left: -200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal span {
    display: block;
    margin-top: 20px;
}

.game-reset {
    font-size: .7em;
    background-color: green;
    margin-top: 40px;
    color: white;
    padding: 7px;
    border-radius: 5px;
    border: 3px outset green;
    display: block;
    font-family: 'Black Ops One', cursive;
}

.game-reset:hover {
    /* background-color: rgb(48, 147, 48); */
    cursor: pointer;
    border-style: inset;
}