<h1>Log In!</h1>

<% if flash[:errors] %>
    <ul class="errors">
        <% flash[:errors].each do |error| %>
            <li><%= error %></li>
        <% end %>
    </ul>
<% end %>

<form action="/session" method="post">
    <%= auth_token_helper %>

    <label>
        Email
        <input type="text" name="email" value="<%= @email %>">
    </label>

    <label>
        Password
        <input type="password" name="password">
    </label>

    <input type="submit" value="Log In">
</form>