<h1>Sign Up!</h1>

<% if flash[:errors] %>
    <ul class="errors">
        <% flash[:errors].each do |error| %>
            <li><%= error %></li>
        <% end %>
    </ul>
<% end %>

<form action="/users" method="post">
    <%= auth_token_helper %>

    <label>
        Email
        <input type="text" name="user[email]" value="<%= @email %>">
    </label>

    <label>
        Password
        <input type="password" name="user[password]">
    </label>

    <input type="submit" value="Create Account">
</form>